DOCKER_USER=hpretl
DOCKER_TAG=chipathon26
WEBSERVER_PORT=80
VNC_PORT=5901
JUPYTER_PORT=8888
CONTAINER_NAME=iic-osic-tools_chipathon2026_xvnc_1000
GLAYOUT_INSTALL=1
GLAYOUT_REPOSITORY=git@github.com:ReaLLMASIC/gLayout.git
GLAYOUT_FOLDER=gLayout